@import '../../styles/variables';
@import '../../styles/components';
@import '../../styles/global';

#jumpBody{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../../assets/assets_games/wallp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.h1_jump {
    color: black;
    font-size: 3rem;
    margin-top: 13px;
    text-shadow: 5px 5px 8px rgb(175, 55, 175);
    animation: fadeIn 2s ease-out, swing 2s ease-in-out infinite;
    z-index: 2;
    margin-bottom: 1rem;
    text-align: center;
}

.p_jump {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    color: black;
    margin: 0.5rem 0;
    text-align: center;
}


@keyframes fadeIn { /*aparición al cargar la página*/
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes swing { /*balanceo del título*/
    0% { transform: rotate(-5deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}

/*CONFIGURACIÓN DEL BORDE ROTATORIO*/
#main-jumpPage{ /*un primer div grande*/
    height: 380px;
    width: 630px;
    background-color: rgb(209, 114, 185);
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#main-jumpPage::before{ /*parte rotatorio*/
    content: "";
    position: absolute;
    height: 750px;
    width: 750px;
    background-image: conic-gradient(rgb(6, 6, 6) 20deg, transparent 120deg);
    animation: rotar 4s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

#main-jumpPage::after{ /*un segundo div más pequeño que está por encima del div grande y la parte móvil*/
    content: "";
    position: absolute;
    height: 355px;
    width: 595px;
    background-color: rgb(209, 114, 185);
    border-radius: 10%;

}

.menu{
    z-index: 2; /*para que se visualice por encima del resto de elementos*/
}

.buttonJump-jugar, .gameBack-buttonJump{
    background-color: var(--color-button);
    border: none;
    padding: 13px 27px;
    margin: 10px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation: slideUp 1s ease-out;
}

.buttonJump-jugar:hover{ /*al pasar por encima del botón, aunmente de tamaño*/
    transform: scale(1.1);
}

@keyframes slideUp { /*animación de abajo a arriba al carga la página*/
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.buttonJump-jugar:active { /*al hacer click se expande*/
    transform: scale(1.5);
}


.asteroidJump {
  position: relative;
  top: 70px; //posición asteroide
  right: -100px;
  width: 40px;
  height: 40px;
  animation: moveLeft 2s linear infinite;
}

@keyframes moveLeft {
  0% {
    right: -300px;
  }
  100% {
    right: 400px;
  }
}

.catJump {
  position: absolute;
  bottom: 100px;
  left: 30px;
  width: 70px;
  height: 70px;
  z-index: 2;
}

.scoreJump {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  z-index: 2;
}

