@import '../../styles/variables';
@import '../../styles/components';


// Register, el resto de elementos se encuentran en Login.scss

.cbox_terms {
    accent-color: #d878b0;
    margin-right: 8px;
}

.texto_terms {
    font-weight: bold;
    color: #252525;
    display: inline;
    white-space: nowrap;
}

.read-terms {
    display: inline !important;
    color: #0056d6 !important;
    font-weight: bold;
    text-decoration: none !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}