@import '../../styles/variables';
@import '../../styles/components';

//Perfil de usuario

.perfil-container {
    text-align: center;
    color: #6b15b8;
    background: #fff;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    margin-top: 25vh;
    margin-left: 15vh;

    .perfil-header {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #ddd;
        }

        .perfil-info {
            text-align: left;

            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0;
            }

            p {
                color: #777;
                margin: 0.2rem 0 0;
            }
        }
    }

    .perfil-bio {
        color: #444;
        font-size: 1rem;
    }

    .perfil-email {
        font-size: 0.9rem;
        color: #666;
    }

    .edit-button {
        align-self: center;
        padding: 0.5rem 1rem;
        background-color: #be43d6;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ee424e;
        }
    }
}