@import '../../styles/variables';
@import '../../styles/components';
@import '../../styles/global';

//Perfil de usuario
  
  .profile-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-left: 2rem;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    z-index: 1000;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .profile-info h2 {
    margin: 0;
  }
  
  .profile-info p {
    margin: 0;
    color: #777;
  }
  
  .profile-bio {
    margin-bottom: 1rem;
    font-style: italic;
  }
  
  .profile-email {
    margin-bottom: 1rem;
    color: #555;
  }
  
  .edit-button {
    padding: 0.8rem 2rem;
    background-color: #be43d6;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #7a2b89;
  }
  