// Botones de inicio

nav {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 15px;
    padding-right: 75px;
}

// Botón de música ON / OFF

.button_music {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

// Botones de inicio > Instrucciones 

.index_button_top {
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

//Botón de retroceder

.boton-retroceder {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

// Botón de cerrar sesión

.boton_cerrar-sesion {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background: #fff;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}