:root {
    --primary-color: #be43d6;
    --background-color: #fff1b3;
    --text-color: #ffffff;
  
    --color-principal: #be43d5;
    --color-hover: #831a96;
    --color-shadow: rgb(209, 123, 183);
    --color-text: #ce6fdf;
  }
  