@import '../../styles/variables';
@import '../../styles/components';
@import '../../styles/global';

.home-page-content {
    color: var(--text-color);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.centered-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    cursor: pointer;
    z-index: 5;
}

.custom-gif-cursor {
    position: fixed;
    width: 125px;
    height: 100px;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.home-page-content {
    cursor: none;
}